{% extends 'home.html' %}

{% block content %}
<div id="issueWrap">
    {% for issue in issues reversed %}
    <div class="issue">
        <div id="issueRoom"><a href="">{{issue.room}}</a></div>
        <div id="issueProf"><a href="">{{issue.prof}}</a></div>
        <div id="issueName"><a href="">{{issue.name}}</a></div>
        <div id="issueContent"><a href="">{{issue.content}}</a></div>
        <div id="issueTime">{{issue.time.hour}}:{{issue.time.minute}}</div>
        <div id="issueMore"><div>⁝</div></div>
    </div>
    {% endfor %}
</div>
{% endblock %}