<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <div><a href="{% url 'community:community_main' %}">⌨️</a></div>
        <div><input type="search" name="" id="" placeholder="Search user"></div>
        <div><a href="{% url 'userdb:register' %}">sign up</a></div>
        <div><a href="">sign in</a></div>
    </header>
    <nav>
        <a href="{% url 'community:create-room' %}">Create Room</a>
        <div id="roomWrap">
            {% for room in rooms %}
                <div><a href="{% url 'community:room' room.id %}">{{ room.name }}-{{ room.id }}</a></div>
            {% endfor %}
        </div>
    </nav>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>